<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">My Earnings Info</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Tip Total</th>
                        <td>{{datum.tipTotal | currency}}</td>
                    </tr>
                    <tr>
                        <th>Meal Count</th>
                        <td>{{datum.mealCount}}</td>
                    </tr>
                    <tr>
                        <th>Average Tip Per Meal</th>
                        <td>{{datum.avgTip | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
