<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <form name="wsForm" novalidate ng-submit="submit()" class="form-horizontal">
                <div class="panel-heading">Enter the Meal Details</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="bmp" class="col-md-4 control-label">Base Meal Price:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" id="bmp" class="form-control" autofocus required ng-pattern="/\d.*/" ng-model="bmp">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tr" class="col-md-4 control-label">Tax Rate:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">%</div>
                                <input type="number" id="tr" class="form-control" required ng-pattern="/\d.*/" ng-model="tr">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tp" class="col-md-4 control-label">Tip Percentage:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">%</div>
                                <input type="number" id="tp" class="form-control" required ng-pattern="/\d.*/" ng-min="0" ng-max="100" ng-model="tp">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn" type="button" value="Cancel" ng-click="cancel()">Cancel</button>
                        <button id="reset" class="btn" type="button" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Customer Charges</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Subtotal</th>
                        <td>{{datum.subtotal | currency}}</td>
                    </tr>
                    <tr>
                        <th>Tip</th>
                        <td>{{datum.tip | currency}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>{{datum.total | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
